<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head-createProduct")%>
        <title>Edicion de un producto</title>
</head>

<body>
    <!-- encabezado de la pagina -->
    <%- include("../partials/header")%>

    <section>
        <div class="imgbox">
          <img src="<%=product.img%>" alt="" />
        </div>
  
        <div class="contentbx">
          <div class="formbx">

            <form class="forms" method="POST" action="/products/CreateProduct?_method=PUT">
              <div class="inputbx">
                  <P>titulo del evento:</P>
                <input type="text" value="<%=product.title%>" required/>
              </div>
  
              <div class="inputbx caja-options">
                <select
                  class="selectores"
                  name="provincia"
                  id="provincia"
                  required
                  
                >
                  <option value="">Por Provincia</option>
                  <option value="1">Buenos Aires</option>
                  <option value="2">Capital Federal</option>
                  <option value="3">Catamarca</option>
                  <option value="4">Chaco</option>
                  <option value="5">Chubut</option>
                  <option value="6">Córdoba</option>
                  <option value="7">Corrientes</option>
                  <option value="8">Entre Ríos</option>
                  <option value="9">Formosa</option>
                  <option value="10">Jujuy</option>
                  <option value="11">La Pampa</option>
                  <option value="12">La Rioja</option>
                  <option value="13">Mendoza</option>
                  <option value="14">Misiones</option>
                  <option value="15">Neuquén</option>
                  <option value="16">Río Negro</option>
                  <option value="17">Salta</option>
                  <option value="18">San Juan</option>
                  <option value="19">San Luis</option>
                  <option value="20">Santa Cruz</option>
                  <option value="21">Santa Fé</option>
                  <option value="22">Santiago del Estero</option>
                  <option value="23">Tierra del Fuego</option>
                  <option value="24">Tucumán</option>
                </select>
              </div>
  
              <div class="inputbx caja-options">
                <select
                  class="selectores"
                  name="localidad"
                  id="locacalidad"
                  required
                >
                  <option value="">Por Localidad</option>
                  <option value="">merlo</option>
                </select>
              </div>
  
              <div class="inputbx">
                <P>Direcion y Lugar del evento:</P>
                <input
                  type="text"
                  value="<%= product.location%> , <%= product.Place_event %> "
                  required
                />
              </div>
  
              <div class="inputbx">
                <P>Fecha y hora de inicio:</P>
                <input
                  type="text"
                  value="<%=product.schedule %>"
                  required
                />
              </div>
  
              <div class="inputbx">
                  <p>Fecha y hora de finalizacion:</p>
                <input
                  type="text"
                  value="<%=product.end_time %>"
                  required
                />
              </div>
  
              <div class="inputbx">
                  <p>Precio de entrada:</p>
                <input type="text" value="<%= product.price %> " required />
              </div>
  
              <div class="inputbx">
                  <p>Descripcion del evento:</p>
                <input
                  type="text"
                  value="<%= product.desc %> "
                  required
                />
              </div>
  
              <div class="inputbx">
                  <p>Mas informacion:</p>
                <input type="text" value="<%= product.more_inf %> " required />
              </div>
  
              <div class="inputbx">
                <input type="submit" value="Editar" name="" />
              </div>
            </form>
          </div>
        </div>
      </section>

        <!-- pie de pagina -->
        <%- include("../partials/footer")%>
</body>

</html>