<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head")%>
  </head>
  <body>
    <!-- encabezado de la pagina -->
    <%- include("partials/header")%>

    <!-- carrusel de la pagina -->
    <%- include("partials/banner")%>

    <!-- productos de la pagina -->
    <%- include("partials/search")%>

    <main>
      <section class="B-muestra-ticket display-flex">
        <% for (product of products){%>
        <a href="/Producto/<%=product.id%>">
        <div class="product-wrapper">
          <article class="product">
            <img
              class="product-img"
              src="<%=product.img%>"
              alt=""
              width="100%"
            />

            <div class="product-content">
              <h3><%=product.title%></h3>
              <p><%=product.location%> <%=product.price%></p>
        </a>
              <button class="m-botton-compra">
                <a href="/Carrito/<%=product.id%>"><i class="fas fa-ticket-alt ticket"></i>Comprar</a>
              </button>
            </div>
          </article>
        </div>
        <% } %>
<!-- pie de pagina -->
    <%- include("partials/footer")%>
  </body>
</html>
