<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head")%>
  </head>
  <body>
    <!-- encabezado de la pagina -->
    <%- include("partials/header")%>

    <main class="main">
      <img src="<%=product.img%>" alt="running-cba" class="img-content" />
      <section class="main-seccion-center-md">
        <div class="content-event-general">
          <p class="product-title pad-5px"><%=product.title%></p>
          <p>
            <i class="fas fa-map-marker"></i>
            <%=product.location%>
          </p>
          <p><i class="fas fa-calendar-alt"></i><%=product.longDate%></p>
          <p><i class="far fa-clock"></i><%=product.schedule%></p>
        </div>
        <div class="content-event-price">
          <div class="price-contenedor">
            <p></i><%=product.price%></p>
          </div>
          <button class="buy-buttom">
            <a href="#"><i class="fas fa-ticket-alt ticket"></i>Comprar</a>
          </button>
        </div>
        <div class="content-event-ubication">
          <p class="product-title pad-5px align-left">Ubicaci칩n</p>
          <img
            src="/imagenes/ubication-map.jpg"
            alt="ubication-map"
            class="w-100"
          />
        </div>
        <div class="display-flex">
          <div class="content-event-description">
            <p class="product-title pad-5px align-left">
              Descripci칩n del evento
            </p>
            <p class="description-style"><%=product.desc%></p>
          </div>
          <div class="content-event-moreinformation">
            <p class="product-title pad-5px align-left">M치s Informaci칩n</p>
            <p class="description-style"><%=product.more_inf%></p>
          </div>
        </div>
      </section>
    </main>
    <!-- pie de pagina -->
    <%- include("partials/footer")%>
  </body>
</html>
