<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head-createProduct")%>
    <title>Creacion de un producto</title>
</head>

<body>

  <!-- encabezado de la pagina -->
  <%- include("../partials/header")%>

    <section>
      <div class="imgbox">
        <img src="/imagenes/banner-registro.jpg" alt="" />
      </div>

      <div class="contentbx">
        <div class="formbx">
          <form class="forms" action="/Evento" method="POST" enctype="multipart/form-data">
            <div class="inputbx">
              <input type="text" placeholder="Nombre del evento" name="nombre"
                value="<%= locals.oldData ? oldData.nombre : null %>" />
              <% if (locals.errors && errors.nombre) { %>
                <div class="error-msg">
                  <%= errors.nombre.msg %>
                </div>
                <% } %>
            </div>

            <div class="inputbx caja-options">
              <select class="selectores" name="provincia" id="provincia">
                <option value="">Provincia</option>
                <option value="Buenos Aires">Buenos Aires</option>
                <option value="Capital Federal">Capital Federal</option>
                <option value="Catamarca">Catamarca</option>
                <option value="Chaco">Chaco</option>
                <option value="Chubut">Chubut</option>
                <option value="Córdoba">Córdoba</option>
                <option value="Corrientes">Corrientes</option>
                <option value="Entre Ríos">Entre Ríos</option>
                <option value="Formosa">Formosa</option>
                <option value="Jujuy">Jujuy</option>
                <option value="La Pampa">La Pampa</option>
                <option value="La Rioja">La Rioja</option>
                <option value="Mendoza">Mendoza</option>
                <option value="Misiones">Misiones</option>
                <option value="Neuquén">Neuquén</option>
                <option value="Río Negro">Río Negro</option>
                <option value="Salta">Salta</option>
                <option value="San Juan">San Juan</option>
                <option value="San Luis">San Luis</option>
                <option value="Santa Cruz">Santa Cruz</option>
                <option value="Santa Fé">Santa Fé</option>
                <option value="Santiago del Estero">Santiago del Estero</option>
                <option value="Tierra del Fuego">Tierra del Fuego</option>
                <option value="Tucumán">Tucumán</option>
              </select>
            </div>

            <div class="inputbx">
              <input type="text" placeholder="Localidad" name="localidad"
                value="<%= locals.oldData ? oldData.localidad : null %>" />
              <% if (locals.errors && errors.localidad) { %>
                <div class="error-msg">
                  <%= errors.localidad.msg %>
                </div>
                <% } %>
            </div>

            <div class="inputbx">
              <input type="text" placeholder="Dirección" name="direccion"
                value="<%= locals.oldData ? oldData.direccion : null %>" />
              <% if (locals.errors && errors.direccion) { %>
                <div class="error-msg">
                  <%= errors.direccion.msg %>
                </div>
                <% } %>
            </div>

            <div class="inputbx">
              <input type="date" placeholder="Fecha" value="22/08/2022" name="fecha"
                value="<%= locals.oldData ? oldData.fecha : null %>" />
              <% if (locals.errors && errors.fecha) { %>
                <div class="error-msg">
                  <%= errors.fecha.msg %>
                </div>
                <% } %>
            </div>

            <div class="inputbx">
              <input type="time" value="11:30" name="horaI" value="<%= locals.oldData ? oldData.horaI : null %>" />
              <% if (locals.errors && errors.horaI) { %>
                <div class="error-msg">
                  <%= errors.horaI.msg %>
                </div>
                <% } %>
            </div>

            <div class="inputbx">
              <input type="time" placeholder="Hora de finalizacion" value="14:30" name="horaF"
                value="<%= locals.oldData ? oldData.horaF : null %>" />
              <% if (locals.errors && errors.horaF) { %>
                <div class="error-msg">
                  <%= errors.horaF.msg %>
                </div>
                <% } %>
            </div>

            <div class="inputbx">
              <input type="number" placeholder="Precio de entrada" name="precio"
                value="<%= locals.oldData ? oldData.precio : null %>" />
              <% if (locals.errors && errors.precio) { %>
                <div class="error-msg">
                  <%= errors.precio.msg %>
                </div>
                <% } %>
            </div>

            <div class="inputbx">
              <textarea placeholder="Descripcion del evento" name="descripcion" class="inputbx"
                value="<%= locals.oldData ? oldData.descripcion : null %>"></textarea>
              <% if (locals.errors && errors.descripcion) { %>
                <div class="error-msg">
                  <%= errors.descripcion.msg %>
                </div>
                <% } %>
            </div>

            <div class="inputbx">
              <input type="text" placeholder="Mas informacion" name="masInformacion"
                value="<%= locals.oldData ? oldData.masInformacion : null %>" />
              <% if (locals.errors && errors.masInformacion) { %>
                <div class="error-msg">
                  <%= errors.masInformacion.msg %>
                </div>
                <% } %>
            </div>

            <div class="inputbx">
              <label class="main-label">Imagen del evento:</label>
              <input type="file" name="banner" accept="image/jpeg,image/png" />
            </div>

            <div class="inputbx">
              <input type="submit" value="Crear Eevento" />
            </div>
          </form>
        </div>
      </div>
    </section>

    <!-- pie de pagina -->
    <%- include("../partials/footer")%>
</body>

</html>