<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head-createProduct")%>
    <title>Edicion de un producto</title>
</head>

<body>
  <!-- encabezado de la pagina -->
  <%- include("../partials/header")%>

    <section>
      <div class="imgbox">
        <img src="/imagenes/Eventos/<%=event.banner%>" alt="" />
      </div>

      <div class="contentbx">
        <div class="formbx">
          <form class="forms" action="/Evento/<%= event.id %>?_method=PUT" method="POST" enctype=multipart/form-data>
            <div class="inputbx">
              <label for="">Nombre del evento: </label>
              <input type="text" value="<%=event.event_name%>" name="event_name" required />
            </div>
            <div class="inputbx">
              <label for="">imagene del evento: </label>
              <input type="file" name="banner" />
            </div>
            <!-- mirar lineas ERROR-->
            <div class="inputbx caja-options">
              <select class="selectores" name="provincia" id="provincia" required>
                <option value="" disabled>Provincia</option>
                <option value="Buenos Aires" <%event.provincia=="Buenos Aires" ? "selected" :""%> >Buenos Aires</option>
                <option value="Capital Federal" <%event.provincia=="Capital Federal" ? "selected" :""%>>Capital Federal
                </option>
                <option value="Catamarca" <%event.provincia=="Catamarca" ? "selected" :""%>>Catamarca</option>
                <option value="Chaco" <%event.provincia=="Chaco" ? "selected" :""%>>Chaco</option>
                <option value="Chubut" <%event.provincia=="Chubut" ? "selected" :""%>>Chubut</option>
                <option value="Córdoba" <%event.provincia=="Cordoba" ? "selected" :""%>>Córdoba</option>
                <option value="Corrientes" <%event.provincia=="Corrientes" ? "selected" :""%>>Corrientes</option>
                <option value="Entre Ríos" <%event.provincia=="Entrer Ríos" ? "selected" :""%>>Entre Ríos</option>
                <option value="Formosa" <%event.provincia=="Formosa" ? "selected" :""%>>Formosa</option>
                <option value="Jujuy" <%event.provincia=="Jujuy" ? "selected" :""%>>Jujuy</option>
                <option value="La Pampa" <%event.provincia=="La Pampa" ? "selected" :""%>>La Pampa</option>
                <option value="La Rioja" <%event.provincia=="La Rioja" ? "selected" :""%>>La Rioja</option>
                <option value="Mendoza" <%event.provincia=="Mendoza" ? "selected" :""%>>Mendoza</option>
                <option value="Misiones" <%event.provincia=="Misiones" ? "selected" :""%>>Misiones</option>
                <option value="Neuquén" <%event.provincia=="Neuquén" ? "selected" :""%>>Neuquén</option>
                <option value="Río Negro" <%event.provincia=="Río Negro" ? "selected" :""%>>Río Negro</option>
                <option value="Salta" <%event.provincia=="Salta" ? "selected" :""%>>Salta</option>
                <option value="San Juan" <%event.provincia=="San Juan" ? "selected" :""%>>San Juan</option>
                <option value="San Luis" <%event.provincia=="San Luis" ? "selected" :""%>>San Luis</option>
                <option value="Santa Cruz" <%event.provincia=="Santa Cruz" ? "selected" :""%>>Santa Cruz</option>
                <option value="Santa Fé" <%event.provincia=="Santa Fé" ? "selected" :""%>>Santa Fé</option>
                <option value="Santiago del Estero" <%event.provincia=="Santiago del Estero" ? "selected" :""%>>Santiago
                  del Estero</option>
                <option value="Tierra del Fuego" <%event.provincia=="Tierra del Fuego" ? "selected" :""%>>Tierra del
                  Fuego</option>
                <option value="Tucumán" <%event.provincia=="Tucumán" ? "selected" :""%>>Tucumán</option>
              </select>
            </div>
            <div class="inputbx">
              <!-- mirar lineas ERROR-->
              <label for="">Localidad del evento: </label>
              <input type="text" placeholder="Localidad" name="localidad" value="<%=event.localidad%>" required />
            </div>

            <div class="inputbx">
              <label for="">Direccion del evento: </label>
              <input type="text" value="<%=event.event_address%>" required name="event_address" />
            </div>

            <div class="inputbx">
              <label for="">Fecha del evento: </label>
              <input type="date" value="<%=event.event_date%>" name="event_date" required />
            </div>

            <div class="inputbx">
              <label for="">Hora de inicio: </label>
              <input type="time" value="<%=event.start_time%>" name="start_time" required />
            </div>
            <div class="inputbx">
              <label for="">Hora de finalizacion: </label>
              <input type="time" placeholder="Hora de finalizacion" value="<%=event.end_time%>" name="end_time"
                required />
            </div>

            <div class="inputbx">
              <label for="">Precio de entrada: </label>
              <input type="text" id="precio" name="price" value="<%=event.price%>" required />
            </div>

            <div class="inputbx">
              <label for="">Descripcion del evento: </label>
              <textarea name="event_description" required class="inputbx">
<%= event.event_description %>
              </textarea>
            </div>

            <div class="inputbx">
              <label for="">Mas informacion: </label>
              <input type="text" value="<%= event.more_info %>" name="more_info" required />
            </div>

            <div class="inputbx">
              <input type="submit" value="Guardar" />
            </div>
          </form>
          <div class="inputbx">
            <form class="forms" action="/Evento/<%= event.id %>?_method=DELETE" method="POST"
              enctype=multipart/form-data>
              <input type="submit" value="Eliminar Evento" />
          </div>
          </form>
        </div>
      </div>
    </section>

    <!-- pie de pagina -->
    <%- include("../partials/footer")%>
</body>

</html>