<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head")%>
    <title>Detalle del producto</title>
  </head>
  <body>
    <!-- encabezado de la pagina -->
    <%- include("../partials/header")%>

    <main class="main">
      <img src="/imagenes/<%=event.banner%>" alt="running-cba" class="img-content" />
      <section class="main-seccion-center-md">
        <div class="edit-contenedor">
          <button class="edit-buttom"><a href="/Evento/<%=event.id%>/editar">Editar Evento</a></button>
          <!-- <form action="/Evento/<%=event.id%>?_method=PUT" method="POST">
          <button acction="" type="submit" class="edit-buttom">Eliminar Evento</button>
          </form> -->
          <!--Enviar mensaje de si está seguro que quiere eliminar el evento y si está seguro activar el metodo delete-->
          </div>
        <div class="content-event-general">
          <p class="product-title pad-5px"><%=event.nombre%></p>
          <p>
            <i class="fas fa-map-marker"></i>
            <%=event.provincia%>
          </p>
          <p>
            <i class="fas fa-map-marker"></i>
            <%=event.localidad%>
          </p>
          <p>
            <i class="fas fa-map-marker"></i>
            <%=event.direccion%>
          </p>
          <p><i class="fas fa-calendar-alt"></i><%=event.fecha%></p>
          <p><i class="far fa-clock"></i><%=event.horaI%></p>
          <p><i class="far fa-clock"></i><%=event.horaF%></p>
        </div>
        <div class="content-event-price">
          <div class="price-contenedor">
            <p></i>$<%=event.precio%></p>
          </div>
          <button class="buy-buttom">
            <a href="/Carrito/:id">
            <i class="fas fa-ticket-alt ticket"></i>Comprar
          </a>
        </button>
        </div>
        <div class="content-event-ubication">
          <p class="product-title pad-5px align-left">Ubicación</p>
          <img
            src="/imagenes/ubication-map.jpg"
            alt="ubication-map"
            class="w-100"
          />
        </div>
        <div class="display-flex">
          <div class="content-event-description">
            <p class="product-title pad-5px align-left">
              Descripción del evento
            </p>
            <p class="description-style"><%=event.descripcion%></p>
          </div>
          <div class="content-event-moreinformation">
            <p class="product-title pad-5px align-left">Más Información</p>
            <p class="description-style"><%=event.masInformacion%></p>
          </div>
        </div>
      </section>
    </main>
    <!-- pie de pagina -->
    <%- include("../partials/footer")%>
  </body>
</html>
